/* ai-nest - AI Agency Startup & Technology HTML Template  */

@media only screen and (max-width: 1700px){
	
}

@media only screen and (max-width: 1439px){
	.banner-section-three .banner-ai-diagram {
		margin-left: -45px;
	}
	.banner-section-three .banner-ai-diagram .diagram-item.three {
		right: -50px;
		top: 130px;
	}
	.banner-section-three .banner-ai-diagram .diagram-ai {
		top: 285px;
		right: 190px;
	}
	.banner-section-three .banner-ai-diagram .diagram-item.five {
		right: -40px;
	}
	.call-to-action-two {
		padding: 60px 30px 120px;
	}
	.about-section-four .summary-single-box .summary-scedule .summary-saas-badge .innovation-cusor {
		right: 15px;
	}
}


@media only screen and (max-width: 1400px){
	.banner-section-three .banner-ai-diagram {
		margin-left: -45px;
	}
	.banner-section-three .banner-ai-diagram .diagram-item.three {
		right: -50px;
		top: 130px;
	}
	.banner-section-three .banner-ai-diagram .diagram-ai {
		top: 285px;
		right: 190px;
	}
	.banner-section-three .banner-ai-diagram .diagram-item.five {
		right: -40px;
	}
	.call-to-action-two {
		padding: 0px 30px 0px;
	}
	.about-section-four .summary-single-box .summary-scedule .summary-saas-badge .innovation-cusor {
		right: 15px;
	}
}

@media (min-width: 1200px) and (max-width: 1400px){

}

@media only screen and (max-width: 1199px){
	.feature-section-one .single-feature-box.four .feature-content {
		padding-left: 10px;
	}
	.feature-section-one .single-feature-box .feature-content p {
		font-size: 18px;
	}
	.about-section-two .section-desc p {
		width: 60%;
	}
}


@media only screen and (max-width: 1024px){
	.service-section-one .sec-title .section-title .title {
		font-size: 38px;
		line-height: 48px;
	}

}

@media (min-width: 992px) and (max-width: 1199px){
	.integration-section-one .sec-title .section-title .title {
		font-size: 36px;
		line-height: 48px;
	}
	.feature-section-one .single-feature-box .feature-content p br {
		display: none;
	}
	.feature-section-one .single-feature-box .feature-content {
		padding-left: 0;
	}
	.testimonial-section-two .swiper-slide.swiper-slide-prev {
		transform: translateX(0) rotate(0deg);
		transform-origin: 0;
	}
	.testimonial-section-two .swiper-slide.swiper-slide-next {
		transform: translateX(0) rotate(0deg);
		transform-origin: 0;
	}
	.about-section-two .section-desc p {
		width: 100%;
	}
	.about-section-five .sec-title .section-title .title {
		font-size: 36px;
		line-height: 48px;
	}
	.service-section-one .sec-title .section-title .title {
		font-size: 36px;
		line-height: 48px;
	}
	.accordion-section-one .sec-title .section-title .title {
		font-size: 36px;
		line-height: 46px;
	}
	.service-page-title .service-section-inner .sec-title .section-title .title {
		font-size: 36px;
		line-height: 48px;
	}
	.team-details-page-title .team-details-area .team-details-skills {
		margin-top: 30px;
	}
	.process-section-one .single-process-box {
		margin-top: 0;
	}
}

/*Tablet desktop :768px.*/
@media (min-width: 768px) and (max-width: 991px){
	.ai-nest-header-area {
		display: none;
	}
	.mean-container .mean-nav ul li a i{
		display: none;
	}
	.integration-section-one .sec-title .section-desc p {
		width: 70%;
	}
	.about-section-one .sec-title .section-desc p {
		width: 65%;
	}
	.about-section-three .sec-title .section-desc p {
		width: 65%;
	}
	.about-section-four .sec-title .section-desc p {
		width: 65%;
	}
	.integration-section-two .section-desc p {
		width: 70%;
	}
	.process-section-two .sec-title .section-desc p {
		width: 80%;
	}
	.portfolio-section-one .single-portfolio-box .portfolio-box .portfolio-content .description p {
		width: 100%;
	}
	.process-section-one .single-process-box {
		margin-top: 0;
	}
	.service-details-page-title .services-details-area .service-details-icon-box P {
		font-size: 16px;
	}
	.team-details-page-title .team-details-area .team-thumb figure {
		width: 100%;
	}
	.team-details-page-title .team-details-area .team-thumb figure img{
		width: 100%;
	}
	.team-details-page-title .team-details-area .team-details-skills {
		margin-top: 20px;
	}
	.contact-page-title .contact-thumb figure {
		width: 100%;
	}
	.contact-page-title .contact-thumb figure img{
		width: 100%;
	}
}



@media (min-width: 576px) and (max-width: 767px){
	.ai-nest-header-area {
		display: none;
	}
	.mean-container .mean-nav ul li a i{
		display: none;
	}
	.integration-section-one .sec-title .section-desc p {
		width: 100%;
	}
	.about-section-one .sec-title .section-desc p {
		width: 100%;
	}
	.about-section-three .sec-title .section-desc p {
		width: 100%;
	}
	.about-section-four .sec-title .section-desc p {
		width: 100%;
	}
	.integration-section-two .section-desc p {
		width: 100%;
	}
	.process-section-two .sec-title .section-desc p {
		width: 100%;
	}
	.about-section-two .section-desc p {
		width: 100%;
	}
	.accordion-page-title .title-content .page-title {
		font-size: 46px;
	}
	.binifits-marquee-area-one .binifits-shape {
		bottom: -120px;
	}
	.feature-section-one .single-feature-box .feature-thumb figure{
		width: 100%;
	}
	.feature-section-one .single-feature-box .feature-thumb figure img{
		width: 100%;
	}
	.feature-section-one .single-feature-box.four {
		display: block;
	}
	.feature-section-three .single-feature-box.four .feature-content p {
		width: 100%;
	}
	.blog-section-one .single-blog-box .blog-content .blog-title a {
		font-size: 25px;
	}
	.feature-page-title .single-feature-box.four .feature-content p {
		width: 100%;
	}
	.team-details-page-title .team-details-area .team-details-skills {
		margin-top: 20px;
	}
	.blog-page-title .single-blog-box .blog-content .blog-title a {
		font-size: 25px;
	}
	.blog-details-page-title .blog-details-area .blog-details-contact {
		padding: 20px;
	}
	.blog-details-page-title .blog-details-area .single-comment-area .blog-details-comment {
		padding: 36px 10px 40px;
	}
	.feature-section-one .single-feature-box.four .feature-content p {
		width: 80%;
	}
	.service-section-one .single-service-box .service-content p {
		width: 100%;
	}
	.portfolio-section-one .single-portfolio-box {
		margin-bottom: 20px;
	}
}



/* small mobile :480px. */
@media (min-width: 480px) and (max-width: 575px) {
	.ai-nest-header-area {
		display: none;
	}
	.mean-container .mean-nav ul li a i{
		display: none;
	}
	.integration-section-one .sec-title .section-desc p {
		width: 100%;
	}
	.about-section-one .sec-title .section-desc p {
		width: 100%;
	}
	.about-section-three .sec-title .section-desc p {
		width: 100%;
	}
	.about-section-four .sec-title .section-desc p {
		width: 100%;
	}
	.integration-section-two .section-desc p {
		width: 100%;
	}
	.process-section-two .sec-title .section-desc p {
		width: 100%;
	}

	/* home page one */
	.banner-section-one {
		padding: 270px 0px 80px 0px;
	}
	.banner-section-one .banner-content-wrap .banner-content h2 {
		font-size: 30px;
		line-height: 30px;
	}
	.banner-section-one .banner-content-wrap .banner-content p {
		width: 100%;
	}
	.banner-section-one .banner-saas-badge {
		display: none;
	}
	.banner-section-one .banner-thumb figure{
		width: 100%;
	}
	.banner-section-one .banner-thumb figure img{
		width: 100%;
	}
	.feature-section-one .feature-btn {
		text-align: left;
		margin-bottom: 30px;
	}
	.feature-section-one .single-feature-box .feature-content p {
		width: 100%;
	}
	.feature-section-one .single-feature-box .feature-content .feature-diagram {
		display: none;
	}
	.feature-section-one .single-feature-box.four .feature-content p {
		width: 100%;
	}
	.feature-section-one .single-feature-box .feature-content h4 {
		font-size: 25px;
	}
	.feature-section-one .single-feature-box.four {
		padding: 40px 20px 30px;
	}
	.sec-title .section-title .title {
		font-size: 30px;
		line-height: 36px;
	}
	.about-section-one .about-thumb-wrapper .saas-cusor {
		display: none;
	}
	.about-section-one .about-thumb-wrapper {
		margin-bottom: 50px;
	}
	.about-section-one .about-wrapper-box .about-icon-box .about-icon-content .about-content p br{
		display: none;
	}
	.about-section-two {
		padding: 100px 0px 120px;
	}
	.portfolio-section-one .portfolio-btn {
		text-align: left;
		margin-bottom: 30px;
	}
	.workflow-section-one .sec-title .section-title .title {
		font-size: 25px;
		line-height: 36px;
	}
	.binifits-marquee-area-one .marquee .marquee-block h3 {
		font-size: 60px;
		line-height: 60px;
	}
	.binifits-marquee-area-one .marquee .marquee-block h3 span{
		font-size: 60px;
		line-height: 60px;
	}
	.binifits-marquee-area-one::before {
		display: none;
	}
	.binifits-marquee-area-one {
		padding: 0px 0 0px;
	}
	.binifits-marquee-area-one .single-binifits-box::after {
		display: none;
	}
	.binifits-marquee-area-one .single-binifits-box {
		margin-left: 0px;
		margin-bottom: 30px;
		width: 100%;
	}
	.binifits-marquee-area-one .single-binifits-box::before {
		width: 100%;
	}
	.binifits-marquee-area-one .binifits-thumb{
		margin: 30px 0;
	}
	.binifits-marquee-area-one .binifits-thumb figure{
		width: 100%;
	}
	.binifits-marquee-area-one .binifits-thumb figure img{
		width: 100%;
	}
	.binifits-marquee-area-one .single-binifits-box.four {
		margin-left: 0;
		margin-bottom: 0;
	}
	.feature-section-one .sec-title .section-title .title {
		font-size: 25px;
		line-height: 36px;
	}
	.feature-section-one .single-feature-box.four {
		display: block;
	}
	.feature-section-one .feature-thumb figure{
		width: 100%;
	}
	.feature-section-one .feature-thumb figure img{
		width: 100%;
	}
	.about-section-one {
		padding: 100px 0 130px;
	}
	.about-section-one .about-wrapper-box {
		display: block;
	}
	.about-section-one .about-thumb {
		margin-top: 80px;
	}
	.pricing-plan-section-one .marquee .marquee-block h3 {
		font-size: 60px;
		line-height: 60px;
		margin: 0px 10px;
	}
	.pricing-plan-section-one .marquee .marquee-block h3 span{
		font-size: 60px;
		line-height: 60px;
	}
	.pricing-plan-section-one .tab .tab_content .tabs_item .pricing-single-item {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.testimonial-section-one {
		padding: 120px 0 100px;
	}

	/* home page two */
	.banner-section-two .banner-content-wrap .banner-content h2 {
		font-size: 40px;
		line-height: 40px;
	}
	.banner-section-two .banner-thumb-wrapper {
		display: none;
	}
	.chatbot-section-one {
		padding: 100px 0px 0px;
	}
	.process-section-two .process-wrapper .single-process-box .process-content .desc {
		width: 100%;
	}
	.about-section-two .section-desc p {
		width: 100%;
	}
	.chatbot-section-one .chat-container {
    	margin: 0px 0px;
	}
	.chatbot-section-one .chat-container .chat-input button {
		padding: 12px 10px;
	}
	.banner-section-two .banner-content-wrap .banner-content h2 span {
		display: none;
	}
	.about-section-two .about-wrapper-box {
		display: block;
	}
	.about-section-two .about-thumb-wrapper .about-thumb22 {
		display: none;
	}
	.about-section-two .about-thumb-wrapper .about-thumb23 {
		display: none;
	}
	.about-section-two .about-thumb-wrapper {
		margin-top: 80px;
	}
	.workflow-section-two .single-workflow-box .workflow-thumb figure {
		width: 100%;
	}
	.workflow-section-two .single-workflow-box .workflow-thumb figure img{
		width: 100%;
	}
	.workflow-section-two .single-workflow-box {
		margin-bottom: 20px;
	}
	.about-section-four .summary-single-box {
		margin-left: 0;
		margin-top: 50px;
	}
	.about-section-four .summary-saas-badge {
		display: none;
	}
	.pricing-plan-section-two .tab .tab_content .tabs_item .pricing-single-item {
		margin-bottom: 20px;
	}
	.call-to-action-one .call-to-effient {
		top: 70px;
	}
	.call-to-action-one .call-to-wrapper .call-to-content .call-title {
		font-size: 36px;
		line-height: 45px;
	}
	.call-to-action-one .call-to-wrapper .call-to-content .call-disc {
		width: 100%;
	}
	.main-footer-one .footer-widget-content {
		margin-bottom: 20px;
	}
	.pricing-plan-section-two .tab .tabs {
		top: -200px;
		right: 0;
	}
	/* home page three */
	.banner-section-three .banner-content-wrap .banner-content h2 {
		font-size: 30px;
		line-height: 34px;
	}
	.banner-section-three .banner-ai-diagram {
		display: none;
	}
	.banner-section-three {
		padding: 210px 0px 100px 0px;
	}
	.dashbord-section-one .dashbord-thumb figure {
		width: 100%;
	}
	.dashbord-section-one .dashbord-thumb figure img{
		width: 100%;
	}
	.feature-section-three .single-feature-box .feature-content .feature-diagram {
		display: none;
	}
	.feature-section-three .single-feature-box.four {
		padding: 30px 20px 30px;
	}
	.feature-section-three .single-feature-box {
		padding: 20px 20px 20px;
	}
	.feature-section-three .single-feature-box.four .feature-content p {
		width: 100%;
	}
	.feature-section-three .single-feature-box .feature-content p {
		width: 100%;
	}
	.process-section-one .process-section-title h2 {
		font-size: 60px;
		line-height: 60px;
	}
	.process-section-one .single-process-box.active::before {
		display: none;
	}
	.process-section-one .single-process-box.active::after {
		display: none;
	}
	.process-section-one .process-shape1 {
		display: none;
	}
	.process-section-one .process-shape2 {
		display: none;
	}
	.project-marquee-area-one .marquee .marquee-block h3 {
		font-size: 60px;
		line-height: 60px;
	}
	.project-marquee-area-one .single-project-box .project-box .project-thumb figure {
		width: 100%;
	}
	.project-marquee-area-one .single-project-box .project-box .project-thumb figure img{
		width: 100%;
	}
	.project-marquee-area-one .single-project-box .project-box .project-thumb .project-arrow {
		right: 50px;
		bottom: -22px;
	}
	.accordion-section-one .sec-title .section-title .title {
		font-size: 30px;
		line-height: 46px;
	}
	.accordion-section-one .tab_container .accordion li a.active {
		padding: 26px 20px 20px 20px;
	}
	.accordion-section-one .tab_container .accordion li a {
		padding: 26px 20px 25px 20px;
	}
	.accordion-section-one .tab_container .accordion li p {
		padding: 0px 20px 30px 20px;
	}
	.main-footer-two .footer-content .footer-menu ul li {
		margin: 0 3px;
	}
	.main-footer-two .footer-content .footer-menu ul li a {
		font-size: 17px;
	}
	.main-footer-two .footer-content .footer-automation-title .typing {
		font-size: 50px;
		line-height: 50px;
	}

	/* home page four */
	.banner-section-four .banner-content-wrap .banner-shape1 {
		display: none;
	}
	.banner-section-four .banner-content-wrap .banner-shape2 {
		display: none;
	}
	.banner-section-four .banner-content-wrap .banner-shape3 {
		display: none;
	}
	.banner-section-four .banner-content-wrap .banner-shape4 {
		display: none;
	}
.banner-section-four .banner-content-wrap .banner-content h2 {
    font-size: 30px;
    line-height: 34px;
}
.banner-section-four .banner-content-wrap .banner-content p {
    width: 100%;
}
.about-section-five .sec-title .section-title .title {
    font-size: 30px;
    line-height: 36px;
}
.about-section-five .about-wrapper-box {
    display: block;
}
.process-section-two .process-item {
    padding: 10px 20px;
    margin-bottom: 20px;
}
.process-section-two .process-wrapper .single-process-box {
    padding: 20px 20px 20px;
}
.process-section-two .process-wrapper .process-active-box {
    margin: 30px 0px 0px 0px;
}
.service-section-one .single-service-box {
    padding: 20px 20px 20px;
}
.service-section-one .single-service-box .service-inner {
    gap: 10px;
}
.service-section-one .single-service-box .service-content p {
    width: 100%;
}
.service-section-one {
    padding: 120px 0 100px;
}
.why-choose-section-one .choose-thumb-wrapper {
    display: none;
}
.why-choose-section-one .choose-wrapper-box {
    display: block;
}
.why-choose-section-one .choose-wrapper-box .choose-icon-box .choose-icon-content {
    margin-bottom: 20px;
}
.portfolio-section-one .single-portfolio-box .portfolio-box .portfolio-thumb figure {
    width: 100%;
}
.portfolio-section-one .single-portfolio-box .portfolio-box .portfolio-thumb figure img{
    width: 100%;
}
.portfolio-section-one .single-portfolio-box .portfolio-box .portfolio-thumb .portfolio-arrow {
    right: -10px;
    bottom: -22px;
}
.portfolio-section-one .single-portfolio-box .portfolio-box .portfolio-content .description p {
    width: 100%;
}
.testimonial-section-three .testi-thumb-wrapper .testi-thumb-circle {
    display: none;
}
.testimonial-section-one .testi-thumb-wrapper {
    display: none;
}
.testimonial-section-three .testi-thumb-wrapper .testi-avatars-img {
    display: none;
}
.testimonial-section-three {
    padding: 60px 0 70px;
}
.testimonial-section-three .testi-thumb-wrapper {
    padding-bottom: 60px;
}
.testimonial-section-three .testi-active2 .swiper-wrapper .swiper-slide .testi-box .single-testi-box {
    padding: 20px 20px 20px 20px;
}
.call-to-action-two .call-container {
    padding: 40px 20px 40px 20px;
}
.call-to-action-two .call-container .call-thumb-wrapper {
    display: none;
}
.call-to-action-two .sec-title .section-title .title {
    font-size: 25px;
    line-height: 35px;
}
.call-to-action-two .call-container .call-to-wrapper .call-to-content .call-arrow {
    display: none;
}
.why-choose-section-one .sec-title .section-desc p {
    width: 100%;
}
.project-marquee-area-one .single-project-box {
    margin-bottom: 20px;
}
.portfolio-section-one .single-portfolio-box {
    margin-bottom: 20px;
}
.testimonial-section-three .testi-thumb-wrapper .testi-thumb {
    margin-left: 0;
}



/* inner page all */
.about-page-title .single-dashbord .dashbord-thumb figure {
    width: 100%;
}
.about-page-title .single-dashbord .dashbord-thumb figure img{
    width: 100%;
}
.process-section-one.inner {
    padding: 0px 0 120px;
}
.feature-page-title .single-feature-box .feature-content .feature-diagram {
    display: none;
}
.feature-page-title .single-feature-box .feature-content h4 {
    font-size: 25px;
}
.feature-page-title .single-feature-box.four .feature-content p {
    width: 100%;
}
.service-page-title .service-section-inner .single-service-box {
    padding: 20px 20px 20px;
}
.service-page-title .service-section-inner .single-service-box .service-inner {
    gap: 10px;
}
.service-page-title .service-section-inner .single-service-box .service-content p {
    width: 100%;
}
.service-details-page-title .services-details-area .services-details-content .services-details-title {
    font-size: 30px;
}
.service-details-page-title .services-details-area .services-details-text {
    padding: 32px 10px;
    gap: 10px;
}
.service-details-page-title .services-details-area .services-details-text .service-details-text-icon::before {
    display: none;
}
.service-details-page-title .services-details-area .services-details-text .service-details-text-content p {
    font-size: 20px;
    width: 100%;
}
.team-page-title .title-content .page-title {
    font-size: 45px;
}
.call-to-action-inner .call-container {
    padding: 100px 20px 100px 20px;
}
.call-to-action-inner {
    padding: 10px 20px 120px;
}
.call-to-action-inner .call-container .call-thumb-wrapper .call-thumb {
    display: none;
}
.call-to-action-inner .call-container .call-to-wrapper .call-to-content .call-arrow {
    display: none;
}
.team-details-page-title .title-content .page-title {
    font-size: 45px;
}
.team-details-page-title .team-details-area .team-details-right .contact-info-box {
    margin-bottom: 20px;
}
.team-details-page-title .team-details-area .team-details-skills {
    margin-top: 30px;
}
.accordion-page-title .title-content .page-title {
    font-size: 40px;
}
.call-to-action-inner.accordion {
    padding: 10px 20px 120px;
}
.contact-page-title .contact-form-area {
    padding: 20px;
}
.blog-details-page-title .blog-details-area .blog-details-content {
    padding: 60px 10px 20px;
    width: 430px;
    margin-top: 0;
}
.blog-details-page-title .blog-details-area .blog-details-content .blog-details-title {
    font-size: 24px;
}
.blog-details-page-title .blog-details-area .blog-details-content .blog-details-author-talk {
    gap: 10px;
    padding: 45px 15px 30px;
}
.blog-details-page-title .blog-details-area .blog-details-content .blog-details-author-talk .blog-details-author-title p {
    font-size: 18px;
}
.blog-details-page-title .blog-details-area .single-comment-area {
    padding: 36px 10px 0px;
    width: 430px;
}
.blog-details-page-title .blog-details-area .single-comment-area .blog-details-comment {
    padding: 36px 10px 40px;
}
.blog-details-page-title .blog-details-area .single-comment-area .blog-details-comment .blog-details-comment-reply {
    display: none;
}
.blog-details-page-title .blog-details-area .blog-details-contact {
    padding: 20px;
}
.process-section-one .single-process-box {
    margin-top: 0;
}
.feature-page-title .single-feature-box .feature-content p {
    width: 100%;
}
.feature-page-title .single-feature-box.three .feature-content p {
    width: 100%;
}
.feature-page-title .single-feature-box.four {
    padding: 40px 40px 40px;
}



}

/* small mobile :320px. */
@media (min-width: 320px) and (max-width: 479px){
	.ai-nest-header-area {
		display: none;
	}
	.mean-container .mean-nav ul li a i{
		display: none;
	}
	.integration-section-one .sec-title .section-desc p {
		width: 100%;
	}
	.about-section-one .sec-title .section-desc p {
		width: 100%;
	}
	.about-section-three .sec-title .section-desc p {
		width: 100%;
	}
	.about-section-four .sec-title .section-desc p {
		width: 100%;
	}
	.integration-section-two .section-desc p {
		width: 100%;
	}
	.process-section-two .sec-title .section-desc p {
		width: 100%;
	}

	/* home page one */
	.banner-section-one .banner-content-wrap .banner-content h2 {
		font-size: 26px;
		line-height: 30px;
	}
	.banner-section-one .banner-content-wrap .banner-content p {
		width: 100%;
	}
	.banner-section-one .banner-saas-badge {
		display: none;
	}
	.banner-section-one .banner-thumb figure{
		width: 100%;
	}
	.banner-section-one .banner-thumb figure img{
		width: 100%;
	}
	.banner-section-one {
		padding: 270px 0px 50px 0px;
	}
	.sec-title .section-title .title {
		font-size: 25px;
		line-height: 35px;
	}
	.benifits-section-one .single-binifits-box {
		padding: 45px 10px 20px;
	}
	.workflow-section-one .sec-title .section-title .title {
		font-size: 25px;
		line-height: 36px;
	}
	.feature-section-one .single-feature-box {
		padding: 40px 10px 40px;
	}
	.feature-section-one .single-feature-box .feature-content p {
		width: 100%;
	}
	.feature-section-one .single-feature-box.three {
		padding: 40px 10px 40px;
	}
	.feature-section-one .single-feature-box.two {
		padding: 40px 10px 50px;
	}
	.feature-section-one .single-feature-box .feature-content .feature-diagram {
		display: none;
	}
	.feature-section-one .single-feature-box.four .feature-content p {
		width: 100%;
	}
	.about-section-one .about-thumb-wrapper .saas-cusor {
		display: none;
	}
	.about-section-one .about-thumb-wrapper {
		margin-bottom: 50px;
	}
	.about-section-two .about-item-list ul li {
		display: flex;
		align-items: self-start;
	}
	.binifits-marquee-area-one .marquee .marquee-block h3 {
		font-size: 60px;
		line-height: 60px;
	}
	.portfolio-section-one .portfolio-btn {
		text-align: left;
		margin-bottom: 30px;
	}
	.feature-section-one .feature-btn {
		text-align: left;
		margin-bottom: 30px;
	}
	.pricing-plan-section-one .pricing-single-item {
		padding: 40px 10px 40px 10px;
	}
	.workflow-section-one .about-counter .counter-desc p {
		font-size: 17px;
	}
	.pricing-plan-section-one .pricing-single-item .pricing-btn a {
		padding: 15px 50px;
	}
	.testimonial-section-one .testi-thumb-wrapper {
		display: none;
	}
	.testimonial-section-one .testi-active2 .swiper-wrapper .swiper-slide .testi-box .single-testi-box {
		padding: 40px 10px 46px 10px;
	}
	.testimonial-section-one .testi-active2 .swiper-wrapper .swiper-slide .testi-box .single-testi-box .testi-desc p {
		display: block;
	}
	.banner-section-two .banner-thumb-wrapper {
		display: none;
	}
	.chatbot-section-one .chatbot-content .chatbot-bot {
		display: none;
	}
	.chatbot-section-one .chat-container {
		margin: 0px 10px;
	}
	.chatbot-section-one .chat-container .chat-header {
		display: block;
	}
	.chatbot-section-one .chat-container .chat-header h3 {
		margin-bottom: 30px;
	}
	.chatbot-section-one .chat-container .chat-input {
		margin: 75px 0px 10px;
		display: block;
	}
	.chatbot-section-one .chat-container .chat-input input {
		margin-bottom: 20px;
	}
	.workflow-section-one .about-counter {
		padding: 35px 20px 30px;
	}
	.feature-section-one .single-feature-box .feature-content {
		padding-left: 0;
	}
	.feature-section-one .single-feature-box .feature-content h4 {
		font-size: 25px;
	}
	.about-section-two .section-desc p {
		width: 100%;
	}
	.portfolio-section-one .single-portfolio-box .portfolio-box .portfolio-content {
		padding: 34px 0 0 0px;
	}
	.binifits-marquee-area-one .single-binifits-box .binifits-box::before {
		display: none;
	}
	.binifits-marquee-area-one .marquee .marquee-block h3 span{
		font-size: 60px;
		line-height: 60px;
	}
	.binifits-marquee-area-one::before {
		display: none;
	}
	.binifits-marquee-area-one .single-binifits-box {
		padding: 24px 10px 24px;
	}
	.binifits-marquee-area-one {
		padding: 0px 0 0px;
	}
	.binifits-marquee-area-one .single-binifits-box::after {
		display: none;
	}
	.binifits-marquee-area-one .single-binifits-box {
		margin-left: 0px;
		margin-bottom: 30px;
		width: 100%;
	}
	.binifits-marquee-area-one .single-binifits-box::before {
		width: 100%;
	}
	.binifits-marquee-area-one .binifits-thumb{
		margin: 30px 0;
	}
	.binifits-marquee-area-one .binifits-thumb figure{
		width: 100%;
	}
	.binifits-marquee-area-one .binifits-thumb figure img{
		width: 100%;
	}
	.binifits-marquee-area-one .single-binifits-box.four {
		margin-left: 0;
		margin-bottom: 0;
	}
	.binifits-marquee-area-one .binifits-shape {
		bottom: -135px;
	}
	.feature-section-one .sec-title .section-title .title {
		font-size: 25px;
		line-height: 36px;
	}
	.feature-section-one .single-feature-box.four {
		display: block;
	}
	.feature-section-one .feature-thumb figure{
		width: 100%;
	}
	.feature-section-one .feature-thumb figure img{
		width: 100%;
	}
	.feature-section-one .single-feature-box.four {
		padding: 25px 10px 20px;
	}
	.feature-section-one .single-feature-box.four .feature-content {
		padding-left: 10px;
	}
	.integration-section-one .integration-thumb .integration-shape {
		top: 19%;
		left: 16%;
	}
	.integration-section-one .sec-title .section-title .title {
		font-size: 30px;
		line-height: 40px;
	}
	.about-section-one {
		padding: 100px 0 50px;
	}
	.about-section-one .about-wrapper-box {
		display: block;
	}
	.about-section-one .about-thumb {
		margin-top: 80px;
	}
	.integration-section-one .integration-list-item ul li {
		font-size: 16px;
		display: flex;
		align-items: flex-start;
	}
	.pricing-plan-section-one .marquee .marquee-block h3 {
		font-size: 50px;
		line-height: 50px;
		margin: 0px 10px;
	}
	.pricing-plan-section-one .marquee .marquee-block h3 span{
		font-size: 50px;
		line-height: 50px;
	}
	.pricing-plan-section-one .tab .tab_content .tabs_item .pricing-single-item {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.about-section-one .sec-title .section-title .title {
		font-size: 26px;
		line-height: 36px;
	}
	.about-section-one .about-wrapper-box .about-icon-box .about-icon-content .about-content h4 {
		font-size: 20px;
	}
	.testimonial-section-one {
		padding: 120px 0 100px;
	}
	.pricing-plan-section-one .tab .tab_content .tabs_item .pricing-single-item .pricing-body {
		padding: 0 6px;
	}
	.testimonial-section-one .testi-box .single-testi-box {
		padding: 45px 10px 50px;
	}

	/* home page two */
	.banner-section-two .banner-content-wrap .banner-content h2 {
		font-size: 30px;
		line-height: 40px;
		margin: 0;
	}
	.banner-section-two .banner-content-wrap .banner-content h2 span {
		display: none;
	}
	.brand-area-one .brand-desc p {
		font-size: 18px;
	}
	.workflow-section-two .sec-title .section-title .title {
		font-size: 22px;
		line-height: 35px;
	}
	.about-section-two .about-wrapper-box {
		display: block;
	}
	.about-section-two .about-thumb-wrapper .about-thumb22 {
		display: none;
	}
	.about-section-two .about-thumb-wrapper .about-thumb23 {
		display: none;
	}
	.about-section-two .about-thumb-wrapper {
		margin-top: 80px;
	}
	.workflow-section-two .single-workflow-box .workflow-thumb figure {
		width: 100%;
	}
	.workflow-section-two .single-workflow-box .workflow-thumb figure img{
		width: 100%;
	}
	.workflow-section-two .single-workflow-box {
		margin-bottom: 20px;
	}
	.workflow-section-two .single-workflow-box {
		padding: 20px 10px 20px;
	}
	.workflow-section-two .single-workflow-box .workflow-content h3 {
		font-size: 20px;
	}
	.workflow-section-two .single-workflow-box .workflow-content {
		padding: 12px 10px 0;
	}
	.about-section-four .sec-title .section-title .title {
		font-size: 22px;
		line-height: 35px;
	}
	.about-section-three .about-item-list ul li {
		font-size: 16px;
		display: flex;
		align-items: flex-start;
	}
	.about-section-four .summary-single-box {
		display: none;
	}
	.about-section-four .summary-saas-badge {
		display: none;
	}
	.about-section-four .about-item-list ul li {
		font-size: 16px;
		display: flex;
		align-items: flex-start;
	}
	.pricing-plan-section-two .tab .tab_content .tabs_item .pricing-single-item {
		margin-bottom: 20px;
	}
	.call-to-action-one .call-to-effient {
		top: 70px;
	}
	.call-to-action-one .call-to-wrapper .call-to-content .call-title {
		font-size: 36px;
		line-height: 45px;
	}
	.call-to-action-one .call-to-wrapper .call-to-content .call-disc {
		width: 100%;
	}
	.main-footer-one .footer-widget-content {
		margin-bottom: 20px;
	}
	.testimonial-section-two .testi-box .single-testi-box {
		padding: 20px 10px 20px;
	}
	.benifits-section-two .sec-title .section-title .title {
		font-size: 20px;
		line-height: 35px;
	}
	.benifits-section-two .single-binifits-box {
		padding: 45px 10px 20px;
	}
	.pricing-plan-section-two .tab .tabs {
		display: none;
	}
	.integration-section-two .sec-title .section-title .title {
		font-size: 22px;
		line-height: 35px;
	}
	.pricing-plan-section-two .tab .tab_content .tabs_item .pricing-single-item .pricing-body {
		padding: 0 15px;
	}
	.call-to-action-one {
		padding: 60px 0 120px;
	}
	.call-to-action-one .call-to-effient {
		display: none;
	}
	.call-to-action-one .call-container {
		margin: 0 0px 0;
	}
	.call-to-action-one .call-to-wrapper {
		margin: 0 10px;
	}
	.call-to-action-one .call-to-wrapper .call-to-content .call-title {
		font-size: 25px;
		line-height: 30px;
	}
	.call-to-action-one .call-to-wrapper .call-to-content .call-to-btn {
		padding: 14px 20px;
	}


	/* home page three */
	.banner-section-three .banner-content-wrap .banner-content h2 {
		font-size: 30px;
		line-height: 34px;
	}
	.banner-section-three .banner-ai-diagram {
		display: none;
	}
	.banner-section-three {
		padding: 210px 0px 100px 0px;
	}
	.dashbord-section-one .dashbord-thumb figure {
		width: 100%;
	}
	.dashbord-section-one .dashbord-thumb figure img{
		width: 100%;
	}
	.feature-section-three .single-feature-box .feature-content .feature-diagram {
		display: none;
	}
	.feature-section-three .single-feature-box.four {
		padding: 30px 10px 30px;
	}
	.feature-section-three .single-feature-box {
		padding: 20px 10px 20px;
	}
	.feature-section-three .single-feature-box.four .feature-content p {
		width: 100%;
	}
	.feature-section-three .single-feature-box .feature-content p {
		width: 100%;
	}
	.feature-section-three .sec-title .section-title .title {
		font-size: 22px;
		line-height: 35px;
	}
	.feature-section-three .single-feature-box .feature-content h4 {
		font-size: 20px;
	}
	.feature-section-three .single-feature-box.two {
		padding: 40px 10px 50px;
	}
	.feature-section-three .single-feature-box.three {
		padding: 40px 10px 40px;
	}
	.process-section-one .process-section-title h2 {
		font-size: 60px;
		line-height: 60px;
	}
	.process-section-one .single-process-box.active::before {
		display: none;
	}
	.process-section-one .single-process-box.active::after {
		display: none;
	}
	.process-section-one .process-shape1 {
		display: none;
	}
	.process-section-one .process-shape2 {
		display: none;
	}
	.project-marquee-area-one .marquee .marquee-block h3 {
		font-size: 60px;
		line-height: 60px;
	}
	.project-marquee-area-one .single-project-box .project-box .project-thumb figure {
		width: 100%;
	}
	.project-marquee-area-one .single-project-box .project-box .project-thumb figure img{
		width: 100%;
	}
	.project-marquee-area-one .single-project-box .project-box .project-thumb .project-arrow {
		right: 20px;
		bottom: -22px;
	}
	.accordion-section-one .sec-title .section-title .title {
		font-size: 20px;
		line-height: 40px;
	}
	.accordion-section-one .tab_container .accordion li a.active {
		padding: 15px 10px 10px 10px;
	}
	.accordion-section-one .tab_container .accordion li a {
		padding: 15px 10px 10px 10px;
	}
	.accordion-section-one .tab_container .accordion li p {
		padding: 0px 10px 10px 10px;
	}
	.main-footer-two .footer-content .footer-menu ul li {
		margin: 0 3px;
	}
	.main-footer-two .footer-content .footer-menu ul li a {
		font-size: 16px;
	}
	.main-footer-two .footer-content .footer-automation-title .typing {
		font-size: 30px;
		line-height: 30px;
	}
	.accordion-section-one .tab_container .accordion li a {
		font-size: 18px;
	}
	.accordion-section-one .tab_container .accordion li a::after {
		display: none;
	}
	.accordion-section-one .tab_container .accordion li a::before {
		display: none;
	}
	.pricing-plan-section-three .pricing-single-item .pricing-btn a {

		padding: 10px 20px;
	}
	.pricing-plan-section-three .pricing-single-item {
		padding: 20px 10px 20px 10px;
	}
	.pricing-plan-section-three .pricing-single-item:hover .pricing-tag {
		transform: translateY(30px);
	}
	.pricing-plan-section-three .pricing-single-item .pricing-money h3 span {
		font-size: 40px;
	}
	.pricing-plan-section-three .pricing-single-item .pricing-money h3 {
		font-size: 40px;
	}
	.blog-section-one .sec-title .section-title .title {
		font-size: 22px;
		line-height: 35px;
	}

	.blog-section-one .single-blog-box {
		padding: 20px 10px 35px;
	}
	.blog-section-one .single-blog-box .blog-content .blog-title a {
		font-size: 24px;
		line-height: 32px;
	}
	.blog-section-one .single-blog-box .blog-meta a {
		bottom: 15px;
		left: 3px;
	}
	.blog-section-one .single-blog-box .blog-content {
		padding: 27px 0px 0px 0px;
	}



	/* home page four */
	.banner-section-four .banner-content-wrap .banner-shape1 {
		display: none;
	}
	.banner-section-four .banner-content-wrap .banner-shape2 {
		display: none;
	}
	.banner-section-four .banner-content-wrap .banner-shape3 {
		display: none;
	}
	.banner-section-four .banner-content-wrap .banner-shape4 {
		display: none;
	}
	.banner-section-four .banner-content-wrap .banner-content h2 {
		font-size: 25px;
		line-height: 32px;
	}
	.banner-section-four .banner-content-wrap .banner-content p {
		width: 100%;
	}
	.banner-section-four .banner-content-wrap .banner-content .banner-btn {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.banner-section-four .banner-content-wrap .banner-review-box {
		bottom: -150px;
		display: block;
	}
	.about-section-five .sec-title .section-title .title {
		font-size: 25px;
		line-height: 32px;
	}
	.about-section-five .about-wrapper-box {
		display: block;
	}
	.about-section-five .about-thumb-wrapper .circle-text {
		display: none;
	}
	.about-section-five .about-thumb-wrapper {
		margin-bottom: 80px;
	}
	.about-section-five .sec-title .section-title .title {
		font-size: 20px;
		line-height: 32px;
	}
	.process-section-two .process-item {
		padding: 10px 10px;
		margin-bottom: 20px;
	}
	.process-section-two .process-wrapper .single-process-box {
		padding: 10px 10px 10px;
	}
	.process-section-two .process-wrapper .process-active-box {
		margin: 30px 0px 0px 0px;
	}
	.process-section-two .sec-title .section-title .title {
		font-size: 20px;
		line-height: 30px;
	}
	.process-section-two .process-item .process-title h3 {
		font-size: 20px;
	}
	.process-section-two .process-wrapper .single-process-box .process-content .title {
		font-size: 25px;
	}
	.process-section-two .process-wrapper .single-process-box .process-content .desc {
		width: 100%;
	}
	.process-section-two .process-wrapper .process-active-box .active-content h2 {
		font-size: 22px;
	}
	.service-section-one .single-service-box {
		padding: 10px 10px 10px;
	}
	.service-section-one .single-service-box .service-inner {
		gap: 6px;
	}
	.service-section-one .single-service-box .service-content p {
		width: 100%;
	}
	.service-section-one {
		padding: 120px 0 100px;
	}
	.service-section-one .service-section-one .sec-title .section-title .title {
		font-size: 25px;
		line-height: 35px;
	}
	.why-choose-section-one .choose-thumb-wrapper {
		display: none;
	}
	.why-choose-section-one .choose-wrapper-box {
		display: block;
	}
	.service-section-one .single-service-box .service-inner {
		display: block;
	}
	.why-choose-section-one .choose-wrapper-box .choose-icon-box .choose-icon-content {
		margin-bottom: 20px;
	}
	.portfolio-section-one .single-portfolio-box .portfolio-box .portfolio-thumb figure {
		width: 100%;
	}
	.portfolio-section-one .single-portfolio-box .portfolio-box .portfolio-thumb figure img{
		width: 100%;
	}
	.portfolio-section-one .single-portfolio-box .portfolio-box .portfolio-thumb .portfolio-arrow {
		right: 25px;
		bottom: -22px;
	}
	.testimonial-section-three .testi-thumb-wrapper .testi-thumb-circle {
		display: none;
	}
	.testimonial-section-three .testi-thumb-wrapper .testi-avatars-img {
		display: none;
	}
	.testimonial-section-three {
		padding: 60px 0 70px;
	}
	.testimonial-section-three .testi-thumb-wrapper {
		padding-bottom: 60px;
	}
	.testimonial-section-three .testi-active2 .swiper-wrapper .swiper-slide .testi-box .single-testi-box {
		padding: 20px 20px 20px 20px;
	}
	.call-to-action-two .call-container {
		padding: 40px 20px 40px 20px;
	}
	.call-to-action-two .call-container .call-thumb-wrapper {
		display: none;
	}
	.call-to-action-two .sec-title .section-title .title {
		font-size: 25px;
		line-height: 35px;
	}
	.call-to-action-two .call-container .call-to-wrapper .call-to-content .call-arrow {
		display: none;
	}
	.why-choose-section-one .sec-title .section-desc p {
		width: 100%;
	}
	.portfolio-section-one .single-portfolio-box {
		padding: 20px 10px 20px;
		margin-bottom: 20px;
	}
	.portfolio-section-one .single-portfolio-box .portfolio-box .portfolio-content .description p {
		width: 100%;
	}
	.testimonial-section-three .testi-thumb-wrapper .testi-thumb {
		margin-left: 0;
	}
	.testimonial-section-three .testi-active2 .swiper-wrapper .swiper-slide .testi-box .single-testi-box .testi-desc p {
		font-size: 17px;
		display: block;
	}
	.call-to-action-two {
		padding: 60px 10px 120px;
	}
	.service-section-one .single-service-box .service-content h3 {
		font-size: 28px;
	}


	/* inner page all */
.about-page-title .single-dashbord .dashbord-thumb figure {
    width: 100%;
}
.about-page-title .single-dashbord .dashbord-thumb figure img{
    width: 100%;
}
.process-section-one.inner {
    padding: 0px 0 120px;
}
.feature-page-title .single-feature-box .feature-content .feature-diagram {
    display: none;
}
.feature-page-title .single-feature-box .feature-content h4 {
    font-size: 20px;
}
.feature-page-title .single-feature-box.four .feature-content p {
    width: 100%;
}
.service-page-title .service-section-inner .single-service-box {
    padding: 10px 10px 10px;
}
.service-page-title .service-section-inner .single-service-box .service-inner {
    gap: 6px;
	display: block;
}
.service-page-title .service-section-inner .single-service-box .service-content p {
    width: 100%;
}
.service-page-title .service-section-inner .single-service-box .service-content h3 {
    font-size: 25px;
}
.service-details-page-title .services-details-area .services-details-content .services-details-title {
    font-size: 20px;
}
.service-details-page-title .services-details-area .services-details-text {
    padding: 32px 10px;
    gap: 10px;
	display: block;
}
.service-details-page-title .services-details-area .services-details-text .service-details-text-icon::before {
    display: none;
}
.service-details-page-title .services-details-area .services-details-text .service-details-text-content p {
    font-size: 20px;
    width: 100%;
}
.team-page-title .title-content .page-title {
    font-size: 30px;
}
.call-to-action-inner .call-container {
    padding: 100px 20px 100px 20px;
}
.call-to-action-inner {
    padding: 10px 20px 120px;
}
.call-to-action-inner .call-container .call-thumb-wrapper .call-thumb {
    display: none;
}
.call-to-action-inner .call-container .call-to-wrapper .call-to-content .call-arrow {
    display: none;
}
.team-details-page-title .title-content .page-title {
    font-size: 30px;
}
.team-details-page-title .team-details-area .team-details-right .contact-info-box {
    margin-bottom: 20px;
}
.team-details-page-title .team-details-area .team-details-skills {
    margin-top: 30px;
}
.accordion-page-title .title-content .page-title {
    font-size: 40px;
}
.call-to-action-inner.accordion {
    padding: 10px 20px 120px;
}
.contact-page-title .contact-form-area {
    padding: 20px;
}
.blog-details-page-title .blog-details-area .blog-details-content {
    padding: 60px 10px 20px;
    width: 430px;
}
.blog-details-page-title .blog-details-area .blog-details-content .blog-details-title {
    font-size: 24px;
}
.blog-details-page-title .blog-details-area .blog-details-content .blog-details-author-talk {
    gap: 10px;
    padding: 45px 15px 30px;
}
.blog-details-page-title .blog-details-area .blog-details-content .blog-details-author-talk .blog-details-author-title p {
    font-size: 18px;
}
.blog-details-page-title .blog-details-area .single-comment-area {
    padding: 36px 10px 0px;
    width: 430px;
}
.blog-details-page-title .blog-details-area .single-comment-area .blog-details-comment {
    padding: 36px 10px 40px;
}
.blog-details-page-title .blog-details-area .single-comment-area .blog-details-comment .blog-details-comment-reply {
    display: none;
}
.blog-details-page-title .blog-details-area .blog-details-contact {
    padding: 20px;
}
.about-page-title .title-content .page-title {
    font-size: 30px;
}
.process-section-one.inner .sec-title .section-title .title {
    font-size: 20px;
    line-height: 35px;
}
.process-section-one .single-process-box {
    margin-top: 0;
}
.team-section-one .sec-title .section-title .title {
    font-size: 22px;
    line-height: 35px;
}
.team-section-one .single-team-box .team-content-box .team-content .team-title a {
    font-size: 25px;
}
.marquee-inner-section .inner-container .marquee .marquee-block h3 {
    font-size: 30px;
}
.feature-page-title .title-content .page-title {
    font-size: 40px;
}
.feature-page-title .single-feature-box {
    padding: 40px 10px 40px;
}
.feature-page-title .single-feature-box .feature-content p {
    width: 100%;
}
.feature-page-title .single-feature-box.two {
    padding: 40px 10px 50px;
}
.feature-page-title .single-feature-box.three {
    padding: 40px 10px 40px;
}
.feature-page-title .single-feature-box.four {
    padding: 40px 10px 40px;
}
.service-page-title .title-content .page-title {
    font-size: 30px;
}
.service-page-title .service-section-inner .sec-title .section-title .title {
    font-size: 20px;
    line-height: 35px;
}
.service-details-page-title .title-content .page-title {
    font-size: 30px;
}
.service-details-page-title .services-details-area .service-details-icon-box .service-details-box-content h4 {
    font-size: 18px;
}
.service-details-page-title .services-details-area .service-details-icon-box {
    padding: 32px 10px 18px;
}
.service-details-page-title .services-details-area .service-details-icon-box .service-details-icon-thumb {
    float: inherit;
    margin-bottom: 10px;
}
.service-details-page-title .services-details-area .services-details-title {
    font-size: 30px;
}
.service-details-page-title .services-details-area .single-benifits-box .benifits-content {
    width: 100%;
	padding: 30px 15px 23px;
}
.service-details-page-title .services-details-area .widget-sidber {
    padding: 32px 0px 29px;
}
.service-details-page-title .services-details-area .widget-sidber-contact-box {
    padding: 48px 10px 48px;
}
.service-details-page-title .services-details-area .widget-sidber-contact-box .widget-sidber-contact-btn a {
    padding: 16px 50px 15px;
}

.team-page-title .single-team-box {
    padding: 40px 0px 40px;
}
.team-page-title .single-team-box .team-content-box .team-content .team-title a {
    font-size: 25px;
}
.call-to-action-inner .sec-title .section-title .title {
    font-size: 20px;
    line-height: 35px;
}
.team-details-page-title .team-details-area .team-details-right .team-details-content .team-member-title h4 {
    font-size: 25px;
}
.team-details-page-title .team-details-area .team-details-right .contact-info-box {
    display: block;
    padding: 29px 10px 27px;
}
.team-details-page-title .team-details-area .team-details-right .team-details-social-icon ul li a i {
    width: 25px;
    height: 25px;
    line-height: 28px;
    margin-left: 0;
}
.team-details-page-title .team-details-area .team-details-right .team-details-location-box {
    display: block;
}
.team-details-page-title .team-details-area .team-details-right .team-details-location-box .contact-info-icon{
    margin-bottom: 10px;
}
.team-details-page-title .team-details-area .team-details-skills {
    margin-top: 15px;
}
.pricing-page-title .pricing-single-item .pricing-btn a {
    font-size: 18px;
    padding: 15px 35px;
}
.pricing-page-title .pricing-single-item {
    padding: 40px 20px 40px 20px;
}
.accordion-page-title .title-content .page-title {
    font-size: 24px;
}
.accordion-page-title .tab_container .accordion li a.active {
    padding: 26px 10px 20px 10px;
}
.accordion-page-title .tab_container .accordion li p {
    padding: 0px 10px 30px 10px;
}
.accordion-page-title .tab_container .accordion li a {
    padding: 26px 10px 25px 10px;
}
.accordion-page-title .tab_container .accordion li a::after {
    right: 10px;
}
.accordion-page-title .tab_container .accordion li a::before {
    right: 15px;
    top: 35px;
}
.accordion-page-title .tab_container .accordion li a {
    font-size: 20px;
}
.contact-page-title .contact-form-area {
    padding: 20px 0px 20px;
}
.blog-page-title .single-blog-box {
    padding: 20px 10px 35px;
}
.blog-page-title .single-blog-box .blog-content {
    padding: 27px 0px 0px 0px;
}
.blog-page-title .single-blog-box .blog-meta a {
    bottom: 20px;
    left: 2px;
}
.blog-page-title .single-blog-box .blog-content .blog-title a {
    font-size: 20px;
}
.blog-details-page-title .blog-details-area .blog-details-content {
    padding: 60px 0px 20px;
    width: 275px;
    margin-top: 0;
}
.blog-details-page-title .blog-details-area .blog-details-content .meta-blog > span {
    margin-right: 10px;
}
.blog-details-page-title .blog-details-area .blog-details-content .meta-blog > span::before {
    display: none;
}
.blog-details-page-title .blog-details-area .blog-details-content .blog-details-title {
    font-size: 24px;
    line-height: 30px;
}
.blog-details-page-title .blog-details-area .blog-details-content .blog-details-desc {
    font-size: 17px;
    margin-bottom: 25px;
}
.blog-details-page-title .blog-details-area .blog-details-content .blog-details-author-talk {
    display: block;
}
.blog-details-page-title .blog-details-area .blog-details-content .blog-details-author-talk .blog-details-quote {
    flex-shrink: 0;
    margin-bottom: 10px;
}
.blog-details-page-title .blog-details-area .single-comment-area .blog-details-comment .blog-details-comment-thumb {
    float: inherit;
}
.blog-details-page-title .blog-details-area .single-comment-area .blog-details-comment .blog-details-comment-content p {
    width: 100%;
}
.blog-details-page-title .blog-details-area .blog-details-contact {
    padding: 0px;
}
.process-section-one .single-process-box .process-content p {
    width: 100%;
}
.project-marquee-area-one .single-project-box .project-box .project-content .description p {
    width: 100%;
}
.feature-page-title .single-feature-box.three .feature-content p {
    width: 100%;
}
.blog-details-page-title .blog-details-area .blog-details-content .blog-details-list-item ul li {
    display: flex;
    align-items: flex-start;
}
}
