:root {
  --color-white:#fff;
  --dark-color1: #222429;
  --dark-color2: #0C2318;
  --dark-color3:#243B30;
  --dark-color4:#182F24;
  --dark-primary:#41C575;
  --dark-color5:#9DAAA4;
  --dark-color6:#4D6459;

  /* dark gradient */
  --dark-gradient-1:linear-gradient(313.49deg, #FFF4DD 2.4%, #F1FFDE 49.55%, #E7FFD8 82.23%);
  --dark-gradient-2:linear-gradient(180deg, rgba(12, 35, 24, 0) 60%, #0C2318 100%);


}

/* Environment dark css */
.main-header.header-style-one,
.about-section-one .single-about-box .about-arrow {
    background: var(--dark-color3);
}

.main-menu .navigation > li > a,
.main-header .header-lower .outer-box .menubars-text a,
.banner-section-one .banner-title h1,
.banner-section-one .banner-content-wrap .banner-info-box .banner-call-info .call-number,
.banner-section-one .banner-content-wrap .banner-botton-since .since-title h6,
.banner-section-one .banner-content-wrap .banner-botton-since .since-title h5,
.services-section-one .single-service-box .service-content h2,
.about-section-one .single-about-box .about-title h1,
.project-section-one .project-box-item .project-thumb .project-box .project-content h3,
.latest-blog-section-one .single-blog-box .blog-content .blog-title a,
.latest-blog-section-one .blog-single-box .blog-content .blog-btn a,
.banner-section-one .banner-content-wrap .banner-title h1,
.latest-blog-section-one .blog-single-box .blog-content .blog-title a {
    color:var(--color-white)
}
.latest-blog-section-one .blog-single-box .blog-content .blog-title a{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.project-section-one .project-box .project-box-item .project-thumb:before {
    background:transparent;
}
.project-section-one::before {
    left: -30px;
}
.main-header .header-lower .outer-box .theme-btn {
    background: rgb(255 255 255 /10%);
}
.main-header .header-lower .outer-box .menubars span,
.project-section-one .project-box-item .project-thumb .project-box .project-btn .button {
    background: var(--dark-primary);
}
.banner-section-one{
  border-radius: 0;
}

.banner-section-one,
.services-section-one,
.testimonial-section-one::before {
    background:var(--dark-color2);
}
.banner-section-one .banner-wrapper,
.about-section-one,
.project-section-one::before,
.services-section-one .single-service-box .service-icon,
.team-section-one,
.brand-area-one .band-active .brand-box{
    background: var(--dark-color4);
}
.banner-section-one .banner-content-wrap {
    background:var(--dark-color4);
}

.banner-section-one .banner-content-wrap .banner-info-box .banner-call-info .call-text,
.banner-section-one .banner-content-wrap .banner-botton-since .banner-desc p,
.project-section-one .project-box-item .project-thumb .project-box .project-content p,
.team-section-one .section-desc p,
.latest-blog-section-one .single-blog-box .blog-content .blog-meta p,
.latest-blog-section-one .blog-single-box .blog-content .blog-meta p{
    color: var(--dark-color5);
}

.banner-section-one .banner-content-wrap .banner-info-box {
    border-bottom: 1px solid rgb(255, 255, 255,0.10);
}

.services-section-one{
  border-radius: 0;
}
.about-section-one .about-thumb::before {
    background: rgb(24, 47, 36,0.3);
}
.services-section-one .single-service-box {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22402%22%20height%3D%22425%22%20viewBox%3D%220%200%20402%20425%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2020.227C0%208.71359%209.69642%20-0.422315%2021.1894%200.262405L312.144%2017.5966C321.428%2018.1498%20329.106%2025.0308%20330.67%2034.1999L335.733%2063.8969C337.103%2071.9335%20343.214%2078.3341%20351.179%2080.0745L386.27%2087.7423C395.453%2089.7491%20402%2097.8808%20402%20107.281V405C402%20416.046%20393.046%20425%20382%20425H20C8.9543%20425%200%20416.046%200%20405V20.227Z%22%20fill%3D%22%23182F24%22%2F%3E%3C%2Fsvg%3E");
}
.services-section-one .single-service-box::before {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22402%22%20height%3D%22425%22%20viewBox%3D%220%200%20402%20425%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2020.227C0%208.71359%209.69642%20-0.422315%2021.1894%200.262405L312.144%2017.5966C321.428%2018.1498%20329.106%2025.0308%20330.67%2034.1999L335.733%2063.8969C337.103%2071.9335%20343.214%2078.3341%20351.179%2080.0745L386.27%2087.7423C395.453%2089.7491%20402%2097.8808%20402%20107.281V405C402%20416.046%20393.046%20425%20382%20425H20C8.9543%20425%200%20416.046%200%20405V20.227Z%22%20fill%3D%22%2341C575%22%2F%3E%3C%2Fsvg%3E");
}
.services-section-one .single-service-box.two {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22402%22%20height%3D%22425%22%20viewBox%3D%220%200%20402%20425%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2047.2288C0%2036.8996%207.86575%2028.2695%2018.1507%2027.3145L309.549%200.254611C319.959%20-0.712061%20329.357%206.50172%20331.114%2016.8076L335.733%2043.8969C337.103%2051.9335%20343.214%2058.3341%20351.179%2060.0745L386.27%2067.7423C395.453%2069.749%20402%2077.8807%20402%2087.2812V405C402%20416.046%20393.046%20425%20382%20425H20C8.9543%20425%200%20416.046%200%20405V47.2288Z%22%20fill%3D%22%23182F24%22%2F%3E%3C%2Fsvg%3E");
}
.about-section-one .single-about-box {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22424%22%20height%3D%22252%22%20viewBox%3D%220%200%20424%20252%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2020C0%208.9543%208.9543%200%2020%200H341.925C351.539%200%20359.792%206.84021%20361.577%2016.2869L366.208%2040.7962C367.74%2048.9062%20374.097%2055.242%20382.212%2056.7475L407.648%2061.4664C417.125%2063.2246%20424%2071.4921%20424%2081.1309V232C424%20243.046%20415.046%20252%20404%20252H20C8.9543%20252%200%20243.046%200%20232V20Z%22%20fill%3D%22%23243B30%22%2F%3E%3C%2Fsvg%3E");
}
.project-section-one {
    background-image: url(../images/environment-dark/project-bg-dark.png);
}
.project-section-one .project-box-item .project-thumb:before{
    position: inherit;
}
.project-section-one .project-box-item .project-thumb .project-box {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22456%22%20height%3D%22442%22%20viewBox%3D%220%200%20456%20442%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2020C0%208.9543%208.95431%200%2020%200H436C447.046%200%20456%208.9543%20456%2020V365.171C456%20376.217%20447.046%20385.171%20436%20385.171H408C396.954%20385.171%20388%20394.126%20388%20405.171V422C388%20433.046%20379.046%20442%20368%20442H20C8.95431%20442%200%20433.046%200%20422V20Z%22%20fill%3D%22%230C2318%22%2F%3E%3C%2Fsvg%3E");
}
.project-section-one .project-box-item .project-thumb .project-box .project-content h4 {
    color:var(--color-white);
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.project-section-one .project-box-item .project-thumb .project-box .project-btn .button span{
    background: var(--color-white);
}
.project-section-one .project-box-item .project-thumb .project-box .project-btn .button:hover {
    color: var(--dark-color2);
}
.team-section-one .single-team-box .team-thumb::after {
    bottom: 15px;
    background: var(--dark-gradient-2);
    border-radius: 20px;
}
.latest-blog-section-one {
    background-image: url(../images/environment-dark/blog-bg-dark.png);
    background-position: inherit;
}
.testimonial-section-one::before {
    border-radius: 0 0 30px 30px;
}
.latest-blog-section-one .single-blog-box .blog-content .blog-title a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.latest-blog-section-one .single-blog-box .blog-content .blog-btn a{
    color: var(--dark-primary);
}
.latest-blog-section-one .single-blog-box .blog-content .blog-btn a:hover {
    color: var(--color-white);
}
.about-section-one .section-desc p {
    color: var(--dark-color5);
}

/* Environment classic dark css */
.header-style-two .main-box .nav-outer .menubars span {
    background: var(--theme-color-white) !important;
}
.about-section-classic,
.project-section-classic,
.brand-area-classic {
    background: var(--dark-color2);
}
.about-section-classic .single-about-box,
.service-section-classic,
.work-process-section-classic,
.donations-section-classic,
.latest-blog-section-classic,
.brand-area-classic .band-active .brand-box {
    background: var(--dark-color4);
}
.about-section-classic .single-about-box .about-title h1 {
    color: var(--color-white);
}
.about-section-classic .single-about-box .about-arrow {
    background: rgb(255, 255, 255,0.10);
}
.about-section-classic .single-about-box:hover .about-arrow svg {
    filter: brightness(0) saturate(100%) invert(68%) sepia(25%) saturate(688%) hue-rotate(92deg) brightness(95%) contrast(95%);
}
.service-section-classic .section-desc p,
.work-process-section-classic .working-process-box .process-content p,
.donations-section-classic .single-donations-box .donations-content .donate-detail .donate-item .donate-name,
.donations-section-classic .single-donations-box .donations-content .donate-detail .donate-item .donate-price {
    color: var(--dark-color5);
}
.service-section-classic .single-service-box .service-thumb .service-content,
.donations-section-classic .single-donations-box {
    background: var(--dark-color3);
}
.service-section-classic .single-service-box .service-thumb .service-content .service-title,
.work-process-section-classic .working-process-box .process-content h4,
.donations-section-classic .single-donations-box .donations-content h2,
.donations-section-classic .single-donations-box .donations-content .donations-btn a,
.latest-blog-section-classic .single-blog-box .blog-content .blog-title,
.latest-blog-section-classic .single-blog-box .blog-content .blog-autor a{
    color: var(--color-white);
}
.service-section-classic .single-service-box .service-thumb .service-content::before {
    background: var(--dark-primary);
}
.service-section-classic .single-service-box .service-thumb::before {
    position: inherit;
}
.work-process-section-classic .working-process-box .process-icon {
    background-color: var(--dark-color3);
    border: 2px solid var(--dark-color3);
}
.donations-section-classic .single-donations-box .donations-content .donations-btn a{
    border: 1px solid rgb(255, 255, 255,0.15);
}
.service-section-classic .service-classic-active .ai-nest-banner-arrow-box .slider-prev {
    color:var(--color-white);
    border: 1px dashed var(--color-white);
}
.service-section-classic .service-classic-active .ai-nest-banner-arrow-box .slider-next {
    color:var(--color-white);
    border: 1px dashed var(--color-white);
}
.about-section-classic .section-desc p {
    color: var(--dark-color5);
}


/* solar dark css */
.banner-section-solar {
    background-image: url(../images/solar-dark/banner-solar-dark.png);
}
.header-solar-renewable .header-lower .outer-box .header-src-btn .search-box-btn.search-box-outer i {
    border:1px solid rgb(12, 35, 24,0.10);
    background: rgb(255, 255, 255,0.10);
    color: var(--color-white);
}
.header-solar-renewable .header-lower .outer-box .theme-btn {
    background: var(--dark-primary);
}
.header-solar-renewable .header-lower .outer-box .theme-btn::after {
    background: var(--theme-color7);
}
.header-solar-renewable .header-lower .outer-box .menubars::before {
    border:1px solid rgb(12, 35, 24,0.10);
    background: rgb(255, 255, 255,0.10);
}
.header-solar-renewable .header-lower .outer-box .menubars span{
    background: var(--color-white);
}
.banner-section-solar .banner-content-wrap .banner-title h2,
.banner-section-solar .banner-content-wrap .banner-autor-info .autor-desc,
.about-section-solar .about-item-box .single-about-box .about-wrap .title h2,
.about-section-solar .about-item-box .about-info-box .about-call-info .call-number,
.why-choose-section-solar .choose-box .choose-title h4,
.work-process-section-solar .working-process-box .process-content h4,
.latest-blog-section-solar .blog-single-box .blog-content .blog-title,
.latest-blog-section-solar .blog-single-box .blog-content .blog-btn a,
.latest-blog-section-solar .single-blog-box .blog-content .blog-title,
.latest-blog-section-solar .single-blog-box .blog-content .blog-btn a{
    color: var(--color-white);
}
.banner-section-solar .banner-content-wrap .banner-title h2 .switch{
    background: transparent;
}
.banner-section-solar .banner-content-wrap .banner-autor-info .autor-img-box .autor-number{
    background: var(--theme-color7);
}
.banner-section-solar .banner-content-wrap .banner-autor-info .banner-autor-desc p,
.about-section-solar .about-item-box .single-about-box .about-desc p,
.about-section-solar .about-item-box .about-info-box .about-call-info .call-text,
.work-process-section-solar .working-process-box .process-content p,
.latest-blog-section-solar .blog-single-box .blog-content .blog-meta p,
.latest-blog-section-solar .single-blog-box .blog-content .blog-meta p{
    color: var(--dark-color5);
}
.about-section-solar,
.why-choose-section-solar,
.work-process-section-solar,
.contact-section-solar .contact-form-box,
.latest-blog-section-solar {
    background: var(--dark-color4);
}
.why-choose-section-solar .choose-box,
.work-process-section-solar .working-process-box .process-icon{
    background:var(--dark-color3);
    box-shadow: none;
}
.work-process-section-solar .working-process-box .process-icon{
    border: transparent;
}
.contact-section-solar .contact-form-box .form-box input,
.contact-section-solar .contact-form-box .form-box textarea,
.contact-section-solar .contact-form-box .form-box .option-box .wide {
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.contact-section-solar .contact-form-box .form-box input::placeholder {
    color: var(--dark-color5);
}
.contact-section-solar .contact-form-box .form-box textarea::placeholder{
    color: var(--dark-color5);
}

/* solar classic dark css */
.about-section-solar-classic,
.work-process-section-solar-classic,
.testimonial-section-solar-classic{
    background: var(--dark-color2);
}

.about-section-solar-classic .about-item-box .single-about-box .about-wrap .title h2,
.about-section-solar-classic .about-item-box .about-info-box .about-call-info .call-number,
.service-section-solar-classic .single-service-box .service-content .service-title,
.project-section-solar-classic .project-box .project-content .project-title h3,
.work-process-section-solar-classic .working-process-box .process-content h4,
.testimonial-section-solar-classic .single-testi-box .testi-autor-box .testi-autor-content .autor-title,
.latest-blog-section-solar-classic .single-blog-box .blog-content .blog-title,
.latest-blog-section-solar-classic .single-blog-box .blog-content .blog-autor a{
    color:var(--color-white);
}
.about-section-solar-classic .about-item-box .single-about-box .about-desc p,
.about-section-solar-classic .about-item-box .about-info-box .about-call-info .call-text,
.service-section-solar-classic .section-desc P,
.service-section-solar-classic .single-service-box .service-content p,
.work-process-section-solar-classic .working-process-box .process-content p,
.testimonial-section-solar-classic .single-testi-box .testi-autor-box .testi-autor-content .autor-desi,
.testimonial-section-solar-classic .single-testi-box .testi-desc p{
    color: var(--dark-color5);
}
.about-section-solar-classic .about-thumb::before {
    background-color:rgb(12, 35, 24,0.3);
}
.about-section-solar-classic .about-item-box .about-info-box .about-btn a::after {
    background-color: var(--theme-color7);
}
.service-section-solar-classic,
.project-section-solar-classic,
.contact-section-solar-classic .contact-form-box,
.latest-blog-section-solar-classic {
    background:var(--dark-color4);
}
.service-section-solar-classic .single-service-box,
.project-section-solar-classic .project-box {
    background: var(--dark-color3);
}
.service-section-solar-classic .single-service-box .service-thumb::after {
    position: inherit;
}
.service-section-solar-classic .single-service-box .service-content .service-btn {
    color: var(--theme-color-white);
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.service-section-solar-classic .single-service-box:hover .service-title {
    color: var(--theme-color7);
}
.service-section-solar-classic .service-solar-classic-active .ai-nest-service-arrow-box .slider-prev {
    color: rgba(255, 255, 255,0.5);
    border: 1px dashed rgba(255, 255, 255,0.5);
}
.service-section-solar-classic .service-solar-classic-active .ai-nest-service-arrow-box .slider-next {
    color: rgba(255, 255, 255,0.5);
    border: 1px dashed rgba(255, 255, 255,0.5);
}
.project-section-solar-classic .project-box .project-content .project-title h4,
.project-section-solar-classic .project-box .project-content .project-btn a {
    background: rgb(255, 255, 255,0.10);
}
.work-process-section-solar-classic .working-process-box .process-icon {
    background-color: var(--dark-color3);
    border: 2px solid var(--dark-color3);
}
.contact-section-solar-classic .contact-form-box .form-box input {
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: var(--color-white);
}
.contact-section-solar-classic .contact-form-box .form-box input::placeholder {
    color: var(--dark-color5);
}
.contact-section-solar-classic .contact-form-box .form-box textarea {
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: var(--color-white);
}
.contact-section-solar-classic .contact-form-box .form-box textarea::placeholder {
    color: var(--dark-color5);
}
.contact-section-solar-classic .contact-form-box .form-box .option-box .wide {
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.testimonial-section-solar-classic .single-testi-box {
    background: var(--dark-color4);
    box-shadow: 0px 10px 40px 0px #0C231808;
}
.testimonial-section-solar-classic .single-testi-box .testi-ratting {
    background: var(--dark-color3);
}
.testimonial-section-solar-classic .testi-solar-classic-active .ai-nest-solar-arrow-box .slider-prev {
    color:rgba(255, 255, 255, 0.5);
    background: transparent;
    border: 1px dashed rgba(255, 255, 255, 0.5);
}
.testimonial-section-solar-classic .testi-solar-classic-active .ai-nest-solar-arrow-box .slider-next {
    color:rgba(255, 255, 255, 0.5);
    background: transparent;
    border: 1px dashed rgba(255, 255, 255, 0.5);
}
.contact-section-solar .contact-form-box .form-box input {
    color:var(--color-white);
}
.contact-section-solar .contact-form-box .form-box textarea {
    color:var(--color-white);
}
.about-section-solar .about-item-box .single-about-box {
    border-bottom: 1px solid rgba(255, 255, 255,0.15);
}
.latest-blog-section-solar .blog-single-box .blog-content .blog-title a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.latest-blog-section-solar .single-blog-box .blog-content .blog-title a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.header-solar-renewable-classic .header-lower .outer-box .theme-btn {
    background:var(--dark-primary);
}
.header-solar-renewable-classic .header-lower .outer-box .menubars span{
    background:var(--color-white);
}
.header-solar-renewable-classic .header-lower .outer-box .menubars span:nth-child(2) {
    background:var(--color-white);
}
.header-solar-renewable-classic .header-lower .outer-box .menubars span:nth-child(3) {
    background:var(--color-white);
}

/* charity dark css */
.about-section-charity {
    background:var(--dark-color4);
    padding: 180px 0 180px;
}
.about-section-charity .about-item-box .single-about-box .about-wrap .title h2,
.about-section-charity .about-item-box .about-info-box .about-call-info .call-number,
.about-section-charity .about-thumb-wrapper .about-counter p,
.donations-section-charity .single-donations-box .donations-content h2,
.donations-section-charity .single-donations-box .donations-content .skill-item .donation-skill-title h5,
.project-section-charity .project-box .project-content .project-title h3,
.give-daonation-section-charity .donation-form-bg .donation-form .form-title,
.give-daonation-section-charity .donation-form-bg .donation-form > label,
.give-daonation-section-charity .donation-form-bg .donation-form .title-payment,
.give-daonation-section-charity .donation-form-bg .donation-form .payment-methods label,
.contact-section-charity .contact-bg .contact-form-box .contact-info-box .contact-call-info .call-number,
.latest-blog-section-charity .single-blog-box .blog-content .blog-title a,
.latest-blog-section-charity .single-blog-box .blog-content .blog-btn a,
.latest-blog-section-charity .blog-single-box .blog-content .blog-title a,
.latest-blog-section-charity .blog-single-box .blog-content .blog-btn a{
    color:var(--color-white);
}
.header-charity .header-lower .outer-box .menubars span {
    background: var(--color-white);
}
.about-section-charity .about-item-box .single-about-box .about-desc p,
.about-section-charity .about-item-box .about-info-box .about-call-info .call-text,
.donations-section-charity .single-donations-box .donations-content .donate-detail .donate-item .donate-name,
.donations-section-charity .single-donations-box .donations-content .donate-detail .donate-item .donate-price{
    color: var(--dark-color5);
}
.header-charity .header-lower .outer-box .theme-btn {
    background:var(--dark-primary);
}
.about-section-charity .about-thumb-wrapper .about-thumb::before{
    background-color:rgb(24, 47, 36,0.3);
}
.about-section-charity .about-item-box .single-about-box {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.about-section-charity::before {
    position: absolute;
    z-index: 1;
    content: "";
    width: 1900px;
    height: 120px;
    left: 0;
    bottom: -57px;
    background-image: url(../images/charity/feature-bg-shape.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.donations-section-charity {
    background:var(--dark-color2);
}
.donations-section-charity {
    background: var(--dark-color2);
    padding: 100px 0 0px;
}
.donations-section-charity .single-donations-box {
    background:var(--dark-color3);
}
.donations-section-charity .single-donations-box .donations-content .donations-btn a {
    color: var(--color-white);
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.donations-section-charity .single-donations-box .donations-thumb::before {
    background-color: rgba(12, 35, 24, 0.3);
}
.project-section-charity{
    background: var(--dark-color2);
    z-index: 0;
}
.project-section-charity .project-box {
    background:var(--dark-color4);
}
.project-section-charity .project-box .project-content .project-title h4,
.project-section-charity .project-box .project-content .project-btn a {
    border: 1px solid rgb(12 35 24 /10%);
    background: rgb(255, 255, 255,0.10);
}
.project-section-charity .project-box .project-thumb::before {
    background-color:rgb(24, 47, 36,0.3);
}
.give-daonation-section-charity .donation-form-bg .donation-form,
.give-daonation-section-charity .donation-form-bg {
    background:var(--dark-color4);
}
.give-daonation-section-charity .donation-form-bg .donation-form-thumb figure img {
    height: 668px;
}
.give-daonation-section-charity .donation-form-bg .donation-form .donation-input input {
    border: 1px solid rgba(255, 255, 255,0.10);
    background: var(--dark-color3);
    color: var(--color-white);
}
.give-daonation-section-charity .donation-form-bg .donation-form .preset-buttons .amount {
    border: 1px solid var(--dark-color2);
    background:rgb(255, 255, 255,0.10);
    color: var(--color-white);
}
.give-daonation-section-charity .donation-form-bg .donation-form .preset-buttons .amount.active, .give-daonation-section-charity .donation-form-bg .donation-form .preset-buttons .amount:hover {
    background: var(--dark-color3);
    color: var(--dark-primary);
    border-color: var(--dark-primary);
}
.give-daonation-section-charity .donation-form-bg .donation-form .payment-methods label input[type=radio] {
    border: 1px solid var(--dark-color2);
    background: rgb(255, 255, 255, 0.10);
    top: 58%;
}
.joint-event-section-charity {
    background: var(--dark-color2);
    margin-top: -75px;
    padding: 485px 0 90px;
}
.joint-event-section-charity .ai-nest-button a {
    background: var(--dark-color3);
}
.joint-event-section-charity .joint-event-box,
.joint-event-section-charity .joint-event-box.active{
    background: var(--dark-color4);
}
.joint-event-section-charity .joint-event-box.active .joint-event-month h5,
.joint-event-section-charity .joint-event-box .event-inner-box .joint-event-month p,
.joint-event-section-charity .joint-event-box.active .joint-event-month h5, .joint-event-section-charity .joint-event-box .event-inner-box .joint-event-month p,
.joint-event-section-charity .joint-event-box:hover .joint-event-month h5
.joint-event-section-charity .joint-event-box:hover .joint-event-month p,
.joint-event-section-charity .joint-event-box:hover .joint-event-month h5,
.joint-event-section-charity .joint-event-box .event-inner-box .joint-event-month h5{
    color: var(--dark-color5);
}
.joint-event-section-charity .joint-event-box .event-title h3{
    color: var(--color-white);
}
.joint-event-section-charity .joint-event-box .joint-event-btn a {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background:var(--dark-color4) ;
    color: var(--color-white);
}
.joint-event-section-charity .joint-event-box:hover .event-location li{
    color: var(--dark-color5);
}
.joint-event-section-charity .joint-event-box .event-location li{
    color: var(--dark-color5);
}
.testimonial-section-charity {
    margin-top: -40px;
}
.contact-section-charity .contact-bg {
    background-image: url(../images/charity/contact-bg2-dark.png);
}
.contact-section-charity .contact-bg .contact-form-box .section-desc p,
.contact-section-charity .contact-bg .contact-form-box .contact-info-box .contact-call-info .call-text,
.latest-blog-section-charity .single-blog-box .blog-content .blog-meta p,
.latest-blog-section-charity .blog-single-box .blog-content .blog-meta p {
    color: var(--dark-color5);
}
.latest-blog-section-charity {
    background:var(--dark-color4);
}
.latest-blog-section-charity .single-blog-box .blog-thumb::before {
    background-color:rgb(24, 47, 36,0.3);
}
.latest-blog-section-charity .blog-single-box .blog-thumb::before {
    background-color:rgb(24, 47, 36,0.3);
}
.latest-blog-section-charity .blog-single-box .blog-content .blog-title a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.latest-blog-section-charity .single-blog-box .blog-content .blog-title a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}